body {
  font-family: "Lucida Grande", sans-serif;
}

h1 {
  text-align: center;
  color: #666666;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 40px;
}

h2 {
  margin-top: 0px;
  color: #F07C17;
  font-size: 21px;
  margin-bottom: 20px;
}

ul, p {
  color: #666666;
  line-height: 2em;
  font-size: 14px;
  font-weight: 100;
  /*letter-spacing: .1px;*/
}

.container {
  margin: 0px; /* override bootstrap */
}

.features {
  border: 1px solid #cccccc;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

.left {
  margin-left: 10px;
}